:root {
  --font-sans: "Poppins", sans-serif;

  --font-size: 16px;
  --font-scale: 1.33;

  --font-size-1: var(--font-size);
  --font-size-2: calc(var(--font-size-1) * var(--font-scale));
  --font-size-3: calc(var(--font-size-2) * var(--font-scale));
  --font-size-4: calc(var(--font-size-3) * var(--font-scale));
  --font-size-5: calc(var(--font-size-4) * var(--font-scale));
  --font-size-6: calc(var(--font-size-5) * var(--font-scale));
  --font-size-small: calc(var(--font-size-1) / var(--font-scale));

  --line-height: 1.6;

  --color-primary: #1cc38b;

  --color-secondary: #07b5f4;

  --color-complementary: #b71c1c;

  --color-dark: #081329;
  --color-light: #fcfcfc;
  --color-gray: #364156;

  --border-radius-big: 15px;
  --border-radius: 10px;
  --border-radius-small: 5px;

  --padding-content: 2rem;

  --section-gap: 6.5rem;
  --gap-content: 4rem;
  --gap-large: 2.5rem;
  --gap-small: 1.5rem;

  --inner-width: 71.25rem;

  --grid-container: [full-start] minmax(32px, 1fr) [inner-start]
    minmax(0, var(--inner-width)) [inner-end] minmax(32px, 1fr) [full-end];
}
