@use "../utilities/responsive";

.submain {
  display: grid;
  grid-template-columns: minmax(32px, 1fr) minmax(0, 80rem) minmax(32px, 1fr);

  @include responsive.max(680px) {
    .submain__title {
      font-size: var(--font-size-4);
    }
  }

  &__inner {
    grid-column: 2/3;
  }
  .submain__title {
    margin-top: 3rem;
    margin-bottom: 6rem;
  }

  &__box-container {
    gap: 2rem;

    .submain__box-card {
      background: rgb(8, 19, 41);
      background: linear-gradient(
        175deg,
        rgba(8, 19, 41, 1) 0%,
        rgba(28, 66, 143, 1) 100%
      );
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      color: #fcfcfc;
      border-radius: var(--border-radius);
      padding: 1rem 2rem;
      flex: 1;

      .submain__box-content,
      .submain__box-title,
      .submain__box-subheader {
        color: #fcfcfc;
      }

      p {
        margin-bottom: 0;
        font-size: 13px;
      }

      .submain__box-title {
        margin-bottom: 2.5rem;

        @include responsive.max(1100px) {
          font-size: 0.8rem;
        }
      }
    }

    .submain__box-rows {
      display: grid;

      grid-template-columns: repeat(12, 1fr);
      gap: 2rem;
    }

    .basta-inlagg,
    .klick-inlagg {
      grid-column: span 4;
    }

    .antal-foljare,
    .nya-foljare,
    .okning-foljare {
      grid-column: span 4;
    }

    .enheter,
    .geo {
      grid-column: span 8;
    }

    @include responsive.max(900px) {
      .submain__box-rows {
        grid-template-columns: 1fr;

        .basta-inlagg,
        .klick-inlagg,
        .antal-foljare,
        .nya-foljare,
        .okning-foljare,
        .enheter,
        .geo {
          grid-column: 1 / -1;
        }
      }
    }

    .basta-inlagg {
      .submain__box-text {
        padding-top: 1.4rem;

        @include responsive.max(1100px) {
          padding-top: 3rem;
        }

        @include responsive.max(900px) {
          padding-top: 2rem !important;
        }
      }
    }

    .klick-inlagg {
      .submain__box-text {
        padding-top: 1.4rem;

        @include responsive.max(1100px) {
          padding-top: 3.5rem !important;
        }

        @include responsive.max(900px) {
          padding-top: 2rem !important;
        }
      }
    }

    .geo {
      .submain__box-text {
        padding-top: 1.4rem !important;
      }
      @include responsive.max(900px) {
        padding-top: 2rem !important;
      }
    }

    // Enheter

    .enheter {
      .submain__box-text {
        padding-top: 3rem;

        @include responsive.max(1400px) {
          padding-top: 4rem;
        }
        @include responsive.max(1100px) {
          padding-top: 3rem;
        }

        @include responsive.max(900px) {
          padding-top: 2rem;
        }
      }
    }

    .enheter__container {
      display: flex;
      gap: 8rem;

      p {
        padding-top: 2.4rem !important;
      }

      @include responsive.max(680px) {
        flex-direction: column;
        gap: 0rem;
        padding: 0;

        align-items: center;

        .dator {
          border: none;
          padding: 0 !important;

          margin: 0;
        }

        .mobil {
          padding: 0 !important;
          margin: 1rem 0 2rem !important;
        }
      }
    }
    .dator,
    .mobil {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    .dator {
      border-right: 1px solid #fcfcfc54;
      padding-right: 6rem;
    }
  }
}

.center-text {
  text-align: center;
  margin-left: -3rem;
  @include responsive.max(500px) {
    font-size: var(--font-size-4);
  }
}

//Styling

#antal-foljare {
  color: var(--color-primary);
  position: relative;

  @include responsive.max(500px) {
    font-size: var(--font-size-4);
  }

  .trendUp {
    content: "";

    width: 46px;
    height: 46px;
    margin-left: 0.5rem !important;
    position: absolute;
    bottom: 10px;

    @include responsive.max(500px) {
      width: 36px;
      height: 36px;
      margin-left: 8px;
      position: absolute;
      bottom: 10px;
    }
  }
}

#nya-foljare {
  color: var(--color-primary);
  position: relative;

  .trendUp {
    content: "";
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-left: 0.5rem !important;
    position: absolute;
    bottom: 10px;

    @include responsive.max(500px) {
      width: 36px;
      height: 36px;
      margin-left: 8px;
      position: absolute;
      bottom: 10px;
    }
  }
}

// Ökning av följare

#okning-foljare {
  color: var(--color-complementary);
  position: relative;
  .trendDown {
    content: "";
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-left: 8px;
    position: absolute;
    bottom: 16px;
    background-image: url("/assets/icons/trend-down.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @include responsive.max(500px) {
      width: 36px;
      height: 36px;
      margin-left: 8px;
      position: absolute;
      bottom: 10px;
    }
  }
}

.submain__box-subheader {
  margin-top: 2rem;
  margin-bottom: -0.5rem;
  @include responsive.max(1100px) {
    font-size: 0.7rem;
  }
}

.submain__box-text {
  opacity: 50%;

  @include responsive.max(1100px) {
    font-size: 0.6rem !important;
  }
}

//Bästa inlägg

.basta-inlagg {
  .submain__box-content {
    text-align: center;
    @include responsive.max(900px) {
      // margin-bottom: 2rem;
    }
  }
  @include responsive.max(1200px) {
    h4 {
      font-size: 1.5rem !important;
    }
  }

  @include responsive.max(1100px) {
    h4 {
      font-size: 0.9rem !important;
    }
  }

  @include responsive.max(900px) {
    h4 {
      font-size: var(--font-size-3) !important;
    }
  }

  @include responsive.max(500px) {
    h4 {
      font-size: var(--font-size-2) !important;
    }
  }
}

//Dator
.dator {
  position: relative;
  margin-left: 4.5rem;
  border-right: 1px solid #fcfcfc54;
  margin-top: 1rem;
  padding-right: 6rem;

  h2 {
    color: var(--color-complementary) !important;
    font-size: var(--font-size-3);
    font-weight: 600;
  }

  .desktopIcon {
    width: 40px;
    height: 48px;
    margin-left: 8px;
    position: absolute;

    left: -5rem;
  }

  .trendDown {
    width: 30px;
    height: 30px;
    margin-left: 0.5rem;
    position: absolute;
    bottom: 8px;
  }

  @include responsive.max(1400px) {
    padding-right: 5rem !important;

    margin-left: 3.5rem;

    h2 {
      font-size: var(--font-size-2) !important;
    }
    .desktopIcon {
      margin-left: 1.5rem;
      bottom: -8px;
    }

    .trendDown {
      bottom: 5px;
      height: 26px;
    }
  }

  @include responsive.max(1200px) {
    padding-right: 3.5rem !important;
    margin-left: 0rem !important;
    h2 {
      font-size: 1.2rem !important;
    }

    p {
      margin: 0;
      padding: 0;
    }

    .desktopIcon {
      display: none;
    }

    .trendDown {
      width: 20px;
      height: 20px;
    }
  }

  @include responsive.max(680px) {
    .trendDown {
      width: 20px;
      height: 20px;
    }
  }

  @include responsive.max(500px) {
    font-size: var(--font-size-1) !important;

    .trendDown {
      display: none;
    }
  }
}

//mobil
.mobil {
  position: relative;
  margin-top: 1rem;
  h2 {
    color: var(--color-primary) !important;
    font-size: var(--font-size-3);
    font-weight: 600;
  }

  .phone {
    width: 40px;
    height: 42px;
    margin-left: 8px;
    position: absolute;

    left: -4.5rem;
  }

  .trendUp {
    width: 30px;
    height: 30px;
    margin-left: 0.5rem;
    bottom: 6px;
    position: absolute;
  }

  @include responsive.max(1400px) {
    margin-left: -2rem;
    h2 {
      font-size: var(--font-size-2) !important;
    }
    .phone {
      margin-left: 1rem;
    }

    .trendUp {
      bottom: 5px;
      height: 26px;
    }
  }

  @include responsive.max(1200px) {
    margin-left: -6.5rem;

    h2 {
      font-size: 1.2rem !important;
    }

    .phone {
      display: none;
    }

    .trendUp {
      width: 20px;
      height: 20px;
    }
  }

  @include responsive.max(500px) {
    padding-right: 3.5rem !important;

    font-size: var(--font-size-1) !important;

    .trendUp {
      display: none;
    }
  }
}

//Geo
.geo {
  position: relative;

  h5 {
    padding: 0 0 1.2rem 0;
    color: var(--color-light);
    padding-bottom: 0.2rem;
  }

  .map {
    width: 150px;
    height: 150px;
    border-radius: var(--border-radius);

    position: absolute;

    top: 60px;
    right: 30px;
  }

  @include responsive.max(1100px) {
    .map {
      width: 120px;
      height: 120px;
      top: 70px;
    }
  }

  @include responsive.max(900px) {
    .map {
      top: 80px;
    }
  }

  @include responsive.max(680px) {
    h5 {
      text-align: center;
      font-size: var(--font-size-2) !important;
    }
    .map {
      display: none;
    }
  }

  @include responsive.max(500px) {
    h5 {
      font-size: var(--font-size-1) !important;
    }
  }
}

.klick-inlagg {
  position: relative;
  .trendUp {
    width: 30px;
    height: 30px;
    position: absolute;
    margin-left: 0.5rem !important;
    margin-top: 0.5rem;

    @include responsive.max(1100px) {
      width: 20px;
      height: 20px;
      position: absolute;
      margin-left: 0.5rem !important;
      margin-top: 0.5rem;
    }
    @include responsive.max(900px) {
      width: 30px;
      height: 30px;
      position: absolute;
      margin-left: 0.5rem !important;
      margin-top: 0.5rem;
    }

    @include responsive.max(500px) {
      width: 20px;
      height: 20px;
      position: absolute;
      margin-left: 0.5rem !important;
      margin-top: 0.5rem;
    }
  }
  .submain__box-text {
    padding-top: 2.5rem !important;
  }
  .submain__box-content {
    color: var(--color-primary) !important;
    text-align: center;

    @include responsive.max(900px) {
    }
  }

  @include responsive.max(1100px) {
    h4 {
      font-size: var(--font-size-2);
    }
  }

  @include responsive.max(900px) {
    h4 {
      font-size: var(--font-size-3) !important;
    }
  }

  @include responsive.max(500px) {
    h4 {
      font-size: var(--font-size-2) !important;
    }
  }
}
